@{
    ViewData["Title"] = "Home Page";
}

<main class="boxmain">
    <div class="container">
        <div class="row">
            <div class="classmaintext">
                <h1>SERVICES</h1>
                <h3>Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="classcard">
                <div class="col-md-4 class2 ">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <h1>
                        E-Commerce
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    </p>
                </div>
                <div class="col-md-4 class2 ">
                    <i class="fa-solid fa-display"></i>
                    <h1>
                        Responsive Design
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    </p>
                </div>
                <div class="col-md-4 class2">
                    <i class="fa-solid fa-key"></i>
                    <h1>
                        E-Commerce
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    </p>
                </div>
            </div>
        </div>
    </div>

</main>
<section class="crad">
    <div class="container">
        <div class="row">
            <div class="classradtext">
                <h1>PORTFOLIO</h1>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="col-md-4 classw">
                <img src="~/assets/img/roundicons.jpg" alt="">
                <h1>Round Icons</h1>
                <p>Graphic Design</p>
            </div>
            <div class="col-md-4 classw">
                <img src="~/assets/img/startup-framework.jpg" alt="">
                <h1>Round Icons</h1>
                <p>Graphic Design</p>
            </div>
            <div class="col-md-4 classw">
                <img src="~/assets/img/golden.jpg" alt="">
                <h1>Round Icons</h1>
                <p>Graphic Design</p>
            </div>
            <div class="col-md-4 classw">
                <img src="~/assets/img/roundicons.jpg" alt="">
                <h1>Round Icons</h1>
                <p>Graphic Design</p>
            </div>
            <div class="col-md-4 classw">
                <img src="~/assets/img/roundicons.jpg" alt="">
                <h1>Round Icons</h1>
                <p>Graphic Design</p>
            </div>
            <div class="col-md-4 classw">
                <img src="~/assets/img/roundicons.jpg" alt="">
                <h1>Round Icons</h1>
                <p>Graphic Design</p>
            </div>
        </div>
    </div>
</section>>
